<div class="auth-form">
  <h2>Connexion</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <label>Email</label>
    <input type="email" formControlName="email" required>

    <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class="error">
      Champ obligatoire et doit être un email valide
    </div>

    <label>Mot de passe</label>
    <input type="password" formControlName="password" required>

    <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="error">
      Champ obligatoire et doit contenir au moins 6 caractères
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
  </form>
</div>
